{% extends "base.html" %}

{% block title %}Вход | Приятный досуг{% endblock %}

{% block content %}
    <div class="container mt-6">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h3 class="text-center mb-4 fs-2 fw-bold">Войти в аккаунт</h3>
                <form method="Post" novalidate>
                    {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control", type="email", placeholder="name@example.com", autofocus=true) }}
                            {% for error in form.email.errors %}
                                <div class="text-danger small mt-1">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-4">
                            {{ form.password.label(class="form-label") }}
                            {{ form.password(class="form-control") }}
                            {% for error in form.password.errors %}
                                <div class="text-danger small mt-1">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="d-grid mb-3">
                            {{ form.submit(class="btn btn-success btn-lg") }}
                        </div>
                </form>
                    <div class="text-center mt-3">
                        <small>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрироваться</a></small>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}